<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cn.jpush.phonegap.JPushPlugin"
        version="2.1.0">

    <name>JPush Plugin</name>
    <description>JPush for cordova plugin</description>
    <author>JPush</author>
    <keywords>JPush,push</keywords>
    <license>Apache 2.0 License</license>

    <preference name="JPUSH_APPKEY" />
    <preference name="JPUSH_CHANNEL" value="developer-default"/>
    <preference name="APS_FOR_PRODUCTION" value="0"/>
    
    <engines>
        <engine name="cordova" version=">=3.0"/>
    </engines>

    <js-module src="www/JPushPlugin.js" name="JPushPlugin">
            <clobbers target="window.plugins.jPushPlugin"/>
    </js-module>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="JPushPlugin">
                <param name="ios-package" value="JPushPlugin"/>
            </feature>
        </config-file>


        <source-file src="src/ios/AppDelegate+notification.m" />
        <source-file src="src/ios/JPushPlugin.m" />

        <header-file src="src/ios/AppDelegate+notification.h" />
        <header-file src="src/ios/JPushPlugin.h" />
        
        <header-file src="src/ios/lib/APService.h" />
        <source-file src="src/ios/lib/libPushSDK-1.8.2.a" framework="true" />
        
        
        <framework src="CFNetwork.framework" weak="true" />
        <framework src="CoreFoundation.framework" weak="true" />
        <framework src="CoreTelephony.framework" weak="true" />
        <framework src="SystemConfiguration.framework" weak="true" />
        <framework src="CoreGraphics.framework" weak="true" />
        <framework src="Foundation.framework" weak="true" />
        <framework src="UIKit.framework" weak="true" />
        <framework src="Security.framework" weak="true" />
        <framework src="libz.dylib" weak="true" />

        <source-file src="src/ios/PushConfig.plist" target-dir="res/ios" />
        <config-file target="*res/ios/PushConfig.plist" parent="APS_FOR_PRODUCTION">
            <string>$APS_FOR_PRODUCTION</string>
        </config-file>
        <config-file target="*res/ios/PushConfig.plist" parent="APP_KEY">
            <string>$JPUSH_APPKEY</string>
        </config-file>
        <config-file target="*res/ios/PushConfig.plist" parent="CHANNEL">
            <string>$JPUSH_CHANNEL</string>
        </config-file>
    </platform>
        
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="JPushPlugin">
                <param name="android-package" value="cn.jpush.phonegap.JPushPlugin"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <!-- Required  一些系统要求的权限，如访问网络等-->
            <uses-permission android:name="$PACKAGE_NAME.permission.JPUSH_MESSAGE"/>
            <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.WAKE_LOCK"/>
            <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
            <uses-permission android:name="android.permission.VIBRATE"/>
            <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
            <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
			<uses-permission android:name="android.permission.WRITE_SETTINGS"/>
            <permission
                    android:name="$PACKAGE_NAME.permission.JPUSH_MESSAGE"
                    android:protectionLevel="signature"/>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <!-- Required SDK核心功能-->
            <activity
                    android:name="cn.jpush.android.ui.PushActivity"
                    android:theme="@android:style/Theme.Translucent.NoTitleBar"
                    android:configChanges="orientation|keyboardHidden">
                <intent-filter>
                    <action android:name="cn.jpush.android.ui.PushActivity"/>
                    <category android:name="android.intent.category.DEFAULT"/>
                    <category android:name="$PACKAGE_NAME"/>
                </intent-filter>
            </activity>
            <!-- Required  SDK核心功能-->
            <service
                    android:name="cn.jpush.android.service.DownloadService"
                    android:enabled="true"
                    android:exported="false">
            </service>
            <!-- Required SDK 核心功能-->
            <service
                    android:name="cn.jpush.android.service.PushService"
                    android:enabled="true"
                    android:exported="false">
                <intent-filter>
                    <action android:name="cn.jpush.android.intent.REGISTER"/>
                    <action android:name="cn.jpush.android.intent.REPORT"/>
                    <action android:name="cn.jpush.android.intent.PushService"/>
                    <action android:name="cn.jpush.android.intent.PUSH_TIME"/>

                </intent-filter>
            </service>
            <!-- Required SDK核心功能-->
            <receiver
                    android:name="cn.jpush.android.service.PushReceiver"
                    android:enabled="true">
                <intent-filter android:priority="1000">
                    <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY"/>
                    <!--Required  显示通知栏 -->
                    <category android:name="$PACKAGE_NAME"/>
                </intent-filter>
                <intent-filter>
                    <action android:name="android.intent.action.USER_PRESENT"/>
                    <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                </intent-filter>
                <!-- Optional -->
                <intent-filter>
                    <action android:name="android.intent.action.PACKAGE_ADDED"/>
                    <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                    <data android:scheme="package"/>
                </intent-filter>
            </receiver>

            <!-- User defined.  For test only  用户自定义的广播接收器 -->
            <receiver
                    android:name="cn.jpush.phonegap.MyReceiver"
                    android:enabled="true">
                <intent-filter android:priority="1000">
                    <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY"/>
                    <!-- Required  显示通知栏 -->
                    <category android:name="$PACKAGE_NAME"/>
                </intent-filter>
                <intent-filter>
                    <action android:name="cn.jpush.android.intent.REGISTRATION"/>
                    <!-- Required  用户注册SDK的intent -->
                    <action android:name="cn.jpush.android.intent.UNREGISTRATION"/>
                    <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED"/>
                    <!-- Required  用户接收SDK消息的intent -->
                    <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED"/>
                    <!-- Required  用户接收SDK通知栏信息的intent -->
                    <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED"/>
                    <!-- Required  用户打开自定义通知栏的intent -->
                    <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK"/>
                    <!-- Optional 用户接受Rich Push Javascript 回调函数的intent -->
                    <category android:name="$PACKAGE_NAME"/>
                </intent-filter>
            </receiver>
            <!-- Required SDK核心功能-->
            <receiver android:name="cn.jpush.android.service.AlarmReceiver"/>
            <!-- Required  . Enable it you can get statistics data with channel -->
            <meta-data android:name="JPUSH_APPKEY" android:value="$JPUSH_APPKEY"/>
            <meta-data android:name="JPUSH_CHANNEL" android:value="$JPUSH_CHANNEL"/>
        </config-file>

        <source-file src="src/android/jpush-sdk-release1.7.3.jar" target-dir="libs"/>
        <source-file src="src/android/armeabi/libjpush173.so" target-dir="libs/armeabi"/>
        <source-file src="src/android/armeabi-v7a/libjpush173.so" target-dir="libs/armeabi-v7a"/>
        <source-file src="src/android/x86/libjpush173.so" target-dir="libs/x86"/>
        <source-file src="src/android/JPushPlugin.java" target-dir="src/cn/jpush/phonegap"/>
        <source-file src="src/android/MyReceiver.java" target-dir="src/cn/jpush/phonegap"/>
    	<source-file src="src/android/test_notification_layout.xml" target-dir="res/layout"/>
    	<source-file src="src/android/jpush_notification_icon.png" target-dir="res/drawable"/>
    </platform>
</plugin>
