<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Appkey</key>
	<string></string>
	<key>Channel</key>
	<string>channel name</string>
	<key>IsProduction</key>
	<false/>
	<key>IsIDFA</key>
	<false/>
	<key>Delay</key>
	<false/>
</dict>
</plist>
